{% extends 'base_security.html.twig' %}
{% block body %}
    <div class="register-box">
        <div class="register-logo">
            <a href="{{ path('login') }}">Měření teplot</a>
        </div>

        <div class="card">
            {% for message in app.flashes('good') %}
                <div class="flash-notice pull-right col-xs-12 " style="padding:0;">
                    <div class="alert alert-success">
                        <strong>{{ message|raw }}</strong>
                    </div>
                </div>
            {% endfor %}
            {% for message in app.flashes('bad') %}
                <div class="flash-notice pull-right col-xs-12 " style="padding:0;">
                    <div class="alert alert-danger">
                        <strong>{{ message|raw }}</strong>
                    </div>
                </div>
            {% endfor %}
            <div class="card-body register-card-body">
                <p class="login-box-msg">Prvotní registrace</p>

                {{ form_start(form) }}
                    <div class="input-group mb-3">
                        {{ form_widget(form.email) }}
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        {{ form_widget(form.username) }}
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        {{ form_widget(form.password.first) }}
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        {{ form_widget(form.password.second) }}
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            {{ form_widget(form.create) }}
                        </div>
                        <!-- /.col -->
                    </div>
                {{ form_end(form) }}
            </div>
            <!-- /.form-box -->
        </div><!-- /.card -->
    </div>
    <!-- /.register-box -->
{% endblock %}
