{% extends 'base.html.twig' %}
{% block body %}
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Dashboard v2</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Dashboard v2</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <!-- Info boxes -->
            <div class="row">
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="info-box">
                        <span class="info-box-icon bg-info elevation-1"><i class="fas fa-check"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text"><a href="{{ path('devices_index') }}"
                                                           title="Schválená zařízení">Schválená zařízení</a></span>
                            <span class="info-box-number">
                            {% if allowedDevices is defined and allowedDevices is not empty %}
                                {{ allowedDevices|length }}
                            {% else %}
                                0
                            {% endif %}
                            </span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
                <!-- /.col -->
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="info-box mb-3">
                        <span class="info-box-icon bg-danger elevation-1">
                            <i class="fas fa-hourglass"></i>
                        </span>
                        <div class="info-box-content">
                            <span class="info-box-text">
                                 <a href="{{ path('devices_waiting') }}">
                                    Čekající na schválení
                                </a>
                            </span>
                            <span class="info-box-number">
                                {% if waitingDevices is defined and waitingDevices is not empty %}
                                    {{ waitingDevices|length }}
                                {% else %}
                                    0
                                {% endif %}
                            </span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
                <!-- /.col -->

                <!-- fix for small devices only -->
                <div class="clearfix hidden-md-up"></div>

                <div class="col-12 col-sm-6 col-md-3">
                    <div class="info-box mb-3">
                        <span class="info-box-icon bg-success elevation-1">
                            <i class="fas fa-times"></i>
                        </span>
                        <div class="info-box-content">
                            <span class="info-box-text">
                                <a href="{{ path('devices_not_activated') }}">
                                    Neaktivováno
                                </a>
                            </span>
                            <span class="info-box-number">
                                {% if notActivatedDevices is defined and notActivatedDevices is not empty %}
                                    {{ notActivatedDevices|length }}
                                {% else %}
                                    0
                                {% endif %}
                            </span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
                <!-- /.col -->
                {% if is_granted("ROLE_ADMIN") %}
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="info-box mb-3">
                        <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-users"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">Uživatelé</span>
                            <span class="info-box-number">
                                {% if users is defined and users is not empty %}
                                    {{ users|length }}
                                {% else %}
                                    0
                                {% endif %}
                            </span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
                <!-- /.col -->
                {% endif %}
            </div>
            <!-- /.row -->

        </div><!--/. container-fluid -->
    </section>
    <!-- /.content -->
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <!-- PAGE PLUGINS -->
    <!-- jQuery Mapael -->
    <script src="{{ asset('plugins/jquery-mousewheel/jquery.mousewheel.js') }}"></script>
    <script src="{{ asset('plugins/raphael/raphael.min.js') }}"></script>
    <script src="{{ asset('plugins/jquery-mapael/jquery.mapael.min.js') }}"></script>
    <script src="{{ asset('plugins/jquery-mapael/maps/usa_states.min.js') }}"></script>
    <!-- ChartJS -->
    <script src="{{ asset('plugins/chart.js/Chart.min.js') }}"></script>
{% endblock %}
